:root{
  //--font-main:'Unica One';
  //--font-header:'Blacklisted' ;
  //--color-main:white;
  //--color-background: #111111;
  --color-main:#2979ff;

 --background-main:#e3f2fd;

  --container-width: 1024px;
  --nav-height:40px;
}

