:root{
  //--font-main:'Unica One';
  //--font-header:'Blacklisted' ;
  //--color-main:white;
  //--color-background: #111111;
  --color-primary: #2979ff;
  --color-secondary: #D769E4;
  --color-tertiary: #ff9735;

 --background-main:#e3f2fd;

  --container-width: 481px;
  --nav-height: 50px;
  --heading-icon-size: 50px;
  --timeline-card-icon-size: 100px;
  --footer-height: 90px ;
}

@media only screen and (min-width:481px) {
  :root{
    --container-width: 481px;
  }
}


@media only screen and (min-width:640px) {
  :root{
    --container-width: 640px;
  }
}

@media only screen and (min-width:769px) {
  :root{
    --container-width: 769px;
  }
}

@media only screen and (min-width:1024px) {
  :root{
    --container-width: 1024px;
  }
}

@media only screen and (min-width:1280px) {
  :root{
    --container-width: 1280px;
  }
}







